.lucky {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
}

.lucky .lucky-main {
    position: relative;
    border: 1px solid #999;
    height: 100%;
    margin-right: 20px;
    flex: auto;
}

.lucky .lucky-starts-canvas {
    background-image: url("../space-wallpaper.jpg");
    background-position: right top;
    background-size: 1200px;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.lucky .lucky-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lucky .lucky-group {
    position: absolute;
}

.lucky .lucky-item {
    position: absolute;
}

.lucky .lucky-item-content {
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgb(0 255 255 / 95%);
    color: rgb(255 255 255 / 75%);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    min-width: 80px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0 12px rgb(0 255 255 / 50%);
    background-color: rgb(0 127 127 / 38%);
}

.lucky .lucky-item-content:hover {
    background-color: #333;
    box-shadow: 0 0 5px 5px rgb(0 255 255 / 75%);
    color: #fff;
}

.lucky .lucky-item-content i {
    color: #aaa;
    font-weight: normal;
    pointer-events: none;
    font-size: 0.8em;
}

.lucky .lucky-group-donut {
    pointer-events: none;
}

.lucky .lucky-group-donut .lucky-item {
    pointer-events: none;
}

.lucky-toolbar {
    position: relative;
}

.lucky-qrcode {
    margin-bottom: 10px;
}

.lucky-qrcode-url {
    font-size: 0.5em;
}

.lucky button {
    font-size: 0.5em;
    padding: 0 15px;
    height: 1.7em;
    margin: 0;
}

.lucky input[type="text"] {
    font-size: 0.5em;
    padding: 0 3px;
    height: 1.7em;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.lucky-start-button {
    margin-top: 30px;
}

.lucky-menu {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 5px 0;
}

.lucky-menu:hover {
    opacity: 1;
}

.lucky-menu-open {
    cursor: pointer;
}

.lucky-menu-open img {
    pointer-events: none;
    padding: 0;
    margin: 0;
    display: block;
}

.lucky-popover {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 38px;
    left: 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.lucky-menu .lucky-add-name {
    width: 180px;
}

.lucky-menu .lucky-empty {
    text-align: left;
}

.lucky-menu .lucky-empty label {
    color: #333;
    font-size: 0.45em;
}

.lucky-menu .lucky-add-button {
    margin-left: 10px;
}
